{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block content %}
<article class="container">
  <h1 class="headline">Discography</h1>
  <p class="mt-2 mb-4">These are Queen's original 15 albums from 1973-1995, not including live albums.</p>
  <div class="row">
  {% for album in queen.discography %}
    <div class="col-sm-6 col-lg-4">
      <div class="card text-light bg-dark mb-5">
        <div class="card-body">
          <img src="img/discs/{{ album.image }}" class="card-img-top" alt="album art">
          <h5 class="card-title mt-2">{{ album.title }}</h5>
          <p class="card-text">{{ album.year }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}