{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Discography</h1>
  <p>Intro text here.</p>
  <div class="row">
  {% for album in queen.discography %}
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <img src="../img/discs/{{ album.image }}" class="card-img-top" alt="album art">
          <h5 class="card-title">{{ album.title }}</h5>
          <p class="card-text">{{ album.year }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}