{% extends '_templates/base.njk' %}

{% block page_title %}All About Queen{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Queen is the greatest band ever</h1>
      <p>Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals) and John Deacon (bass). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.</p>
      <p>-Source: <a href="https://en.wikipedia.org/wiki/Queen_(band)">Wikipedia</a><p>
    </div>
  </div>
    <h2 class="mt-2">Original Members of Queen</h2>
    <div class="row">
      {% for member in queen.members %}
        <div class="col-sm-6 col-lg-3">
          <img src="img/members/{{ member.image }}" alt="{{ member.name }}" class="img-fluid">
          <h3><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h3>
          <h6>{{ member.instruments }}</h6>
        </div>
      {% endfor %}
    </div>
     
    <h2 class="mt-4">Tour Dates</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>City</th>
          <th>Venue</th>
        </tr>
      </thead>
      <tbody>
      {% for tours in queen.tour2021 %}
        <tr>
          <td>{{ tours.date }}</td>
          <td>{{ tours.city }}</td>
          <td>{{ tours.venue }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
</div>
{% endblock %}