{% extends '_templates/base.njk' %}

{% block page_title %}All About Queen{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="headline">Queen is the greatest band ever</h1>
      <p>Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals) and John Deacon (bass). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.</p>
      <p>-Source: <a href="https://en.wikipedia.org/wiki/Queen_(band)">Wikipedia</a><p>
    </div>
  </div>
    
    <h2 class="headline mt-4">Original Members of Queen</h2>
    <div class="row">
      {% for member in queen.members %}
        <div class="col-sm-6 col-lg-3 mt-2 mb-3">
          <img src="img/members/{{ member.image }}" alt="{{ member.name }}" class="img-fluid">
            <div class="card text-light bg-dark">
             <div class="card-body">
              <h3><a class="card-title mt-3" href="members/{{ member.slug }}.html">{{  member.name }}</a></h3>
              <h6 class="card-text">{{ member.instruments }}</h6>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
     
     <h3 class="subhead mt-5">Discography</h3>
        <div id="carouselExampleControls" class="carousel slide mt-2 mb-2" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/discs/Queen_Queen.png" class="d-block w-100" alt="Queen">
            </div>
            <div class="carousel-item">
              <img src="img/discs/Queen_Queen_II.jpg" class="d-block w-100" alt="Queen II">
            </div>
            <div class="carousel-item">
              <img src="img/discs/Queen_Sheer_Heart_Attack.png" class="d-block w-100" alt="Sheer Heart Attack">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p class="text mb-3">Learn more about Queen's full discography <a href="discography.html">here.</a></p>
        

    <h2 class="headline mt-5">Tour Dates</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>City</th>
          <th>Venue</th>
        </tr>
      </thead>
      <tbody>
      {% for tours in queen.tour2021 %}
        <tr>
          <td>{{ tours.date }}</td>
          <td>{{ tours.city }}</td>
          <td>{{ tours.venue }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
</div>
{% endblock %}