{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Biographies</h1>
  <p>Intro text here.</p>
  <h3>{{ members.members[0].name }}</h3>

</article>
{% endblock %}