{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ headline }} by Capt. Crit McGillicutty{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/members/{{ image }}" alt="{{ name }}" class="img-fluid">
          <h5 class="mt-3">Place & Date of Birth</h5>
          <h6>{{ birthplace }}</h6>
          <h6>{{ birthdate }}</h6>
        <hr class="d-sm-none">
      </div>
    <div class="col-sm-8">
        <h1 class="story-headline">{{ name }}</h1>
        <h5>{{ instruments }}</h5>
        <h6>{{ tenure }}</h6>
        {{ description | safe }}
      </div>
    </div>
  </article>
{% endblock %}